<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-type' />
  </head>
  <body>
    <h1>Someone has written in your guest book, <%= @user.first_name %></h1>
    <p>You have a new entry in your guest book! Check out cabin-fever.com/yourURL to view it.</p>
  </body>
</html>