<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-type' />
  </head>
  <body>
    <h1>You have created a new listing, <%= @user.first_name %></h1>
    <p>Your new lsiting has been processed and is available for viewing.</p>
  </body>
</html>