<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-type' />
  </head>
  <body>
    <h1>Welcome to cabinfever.herokuapps.com, <%= @user.first_name %></h1>
    <p>You have successfully signed up to cabinfever.herokuapps.com</p>
  </body>
</html>
