<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-type' />
  </head>
  <body>
    <h1>Welcome to cabinfever.herokuapps.com, <%= @user.name %></h1>
    <p>You have successfully singed up to cabinfever.herokuapps.com</p>
    <p>To verify your account, just follow this link: <%= @url %></p>
  </body>
</html>
